body{
    background: rgb(245, 245, 246);
}
#title-container h1{
    color: #ff6a00;
}
#video-container{
    margin-bottom: 10px;
}
#video-wrap{
    width: 100%;
    margin: 0 auto;
    height: auto;
    background: rgb(49, 54, 58);
}
#audio-wrap{
    display: none;
}
@media (min-width: 768px) {
    #video-wrap{
        height: 470px;
    }
    #streamConfig {
        width: 400px;
    }
}
#video{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
button{
    border: none !important;
    outline: none;
}
.switch-group,.button-group{
    display: inline-block;
    margin-bottom: 20px;
}
.switch-group span b{
    display: inline-block;
}
.switch-group span{
    margin-right: 10px;
}
.switch-component {
  position: relative;
  top: 10px;
  width: 60px;
  height: 30px;
  background-color: #dadada;
  border-radius: 30px;
  border: none;
  outline: none !important;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all .2s ease;
}

.switch-component::-ms-check{
    display: none;
}

.switch-component:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  transition: all .2s ease;
 }

.switch-component:checked {
  background-color: #337ab7;
}

.switch-component:checked:after {
    left: 50%;
 }

.toast-wrap{
    opacity: 0;
    position: fixed;
    top: 15%;
    color: #fff;
    width: 100%;
    text-align: center;
 }
.toast-msg{
    font-size: 16px;
    background-color: #ff6a00;
    padding: 10px 20px;
    border-radius: 5px;
 }
.toastAnimate{
    animation: toastKF 3s;
}
@keyframes toastKF{
    0% {opacity: 0;}
   25% {opacity: 1; z-index: 9999}
   50% {opacity: 1; z-index: 9999}
   75% {opacity: 1; z-index: 9999}
   100% {opacity: 0; z-index: 0}
}